@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<h2>OUR OFFICIAL NRA FIREARMS INSTRUCTORS.</h2>
<h3>Trent Allen -Director- Former LEO and former military</h3>
<h3>Heather Marion-LEO</h3>
<h3>Ben Black-LEO</h3>
<h3>Teresa Lawless-LEO</h3>


