@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@


    <address style="font-size:x-large">
        1943 Grace Hopper DR<br />
        Marion, IA 52302<br />
        @*<abbr title="Phone">P:</abbr>*@
        319.899.0101
    </address>

    <address style="font-size:x-large">
        <strong>Support:</strong>   <a href="mailto:Support@gunsafety.com">Support@gunsafety.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@gunsafety.com">Marketing@gunsafety.com</a>
    </address>
