@{
    ViewBag.Title = "Home Page";
}

<div class="backPic">
    <div class="myContainer">
        <div class="animate one">

            <span>GUN</span>&nbsp;<span>SAFETY</span>&nbsp;<span>IS</span>&nbsp;<span>FOR</span>
            &nbsp;<span>EVERYONE</span>


            </div>

            <div class="animate two">

            <span>S.</span><span>A.</span><span>F.</span><span>E.</span><span>T.</span><span>Y.</span>&nbsp;<span>=</span>&nbsp;<span>Safety</span>&nbsp;<span>Always</span>
            &nbsp;<span>For</span>&nbsp;<span>Everyone</span><br /><span>That's</span>&nbsp;<span>You!</span>

        </div>

        <div style="width: 927px; background-color:transparent;color:black;font-size:40px">
            <marquee direction="right"><strong>Classes are held Monday-Saturday.</strong></marquee>
        </div>




        <button type="button" class="HomeBtn">@Html.ActionLink("Learn More", "Courses", null, new { Style = "color:White;" })</button>

    </div>
</div>